/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/07/2015, 14:59:39
    Author     : Cristiany
*/

.autoOverflow {
    overflow: auto;
}

fieldset.padrao {
    margin-top: 0px;
    border: 1px solid black;
}

fieldset.padrao legend {
  border: none;
  background-color: transparent;
  font-weight: bold;
  position: relative;
  left: 0px;
  width: auto;
}  

#horarioEspecial {
    float: right;
}    

input.hora {
    width: 80px;
}

#dadosEntrega {
    width: 60%;
}

.inline {
    display: inline;
}

#dadosComplementares > * {
    vertical-align: top;
    margin-left: 0px;
}

#telefones div.campos {
    width: 220px;
}

#buttonSelecionarOutroEndereco {
    position: relative;
    left: -10px;
    margin-top: 10px;
}

div.enderecoParaSelecao {
    float: left;
}

div.botaoSelecaoEndereco {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
}
