/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/07/2015, 14:59:39
    Author     : Cristiany
*/

.autoOverflow {
    overflow: auto;
}

fieldset.padrao {
    margin-top: 0px;
    border: 1px solid black;
}

fieldset.padrao legend {
  border: none;
  background-color: transparent;
  font-weight: bold;
  position: relative;
  left: 0px;
  width: auto;
}  

#horarioEspecial {
    float: right;
}    

input.hora {
    width: 80px;
}

.inline {
    display: inline;
}

#dadosComplementares > * {
    vertical-align: top;
    margin-left: 0px;
}

#telefones div.campos {
    width: 220px;
}

#buttonSelecionarOutroEndereco {
    position: relative;
    left: -10px;
    margin-top: 10px;
}

div.enderecoParaSelecao {
    float: left;
}

div.botaoSelecaoEndereco {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
}

#detalhesPedido > * {
	width: 1000px;
}

#observacao {
	height: 100px;
	width: 872px;
}

#legendaDetalhesPedido {
	width: 101%;
}

#numeroVolumes {
	width: 50px;	
}

th.produto {
	width: 22%;
}

th.quantidade {
	width: 4%;
}

th.valorUnitario {
	width: 10%;	
}

th.valorTotalItem {
	width: 10%;	
}

table.itensPedido td > * {
	width: 90%;
}

table.itensPedido td #produto {
	width: 100%;
}

th.alteracaoPrato {
	width: 20%;	
}

th.alteracaoMolho {
	width: 20%;
}

th.operacoes {
	width: 8%;
}

table.itensPedido textarea {
	height: auto;
	width: 98%;
}

input.valorNumerico, th.valorNumerico, td.valorNumerico {
	text-align: right;
}

.hidden {
	display: none;
}

#formaPagamento {
	margin-left: 0px;
	margin-top: 7px;
	padding-top: 10px;
	width: 50%;
}

.radioButton {
	margin-right: 2px;
}

.radioLabel {
	margin-right: 7px;
}

#itensPedido input.edit, #itensPedido input.delete, #itensPedido input.clear, #itensPedido input.add {
	margin: 0px;
	width: auto;
}

#statusPedido {
    width: 400px;
    display: inline;
    top: -6px;
    margin-left: 5px;
}

span.opcaoStatus {
	margin-right: 5px;
}

#observacoesCliente {
	border: none;
	background-color: #FFFFFF;
	height: auto;
	resize: none;
	line-height: 1.5em;
}

fieldset.observacoesCliente {
	padding-top: 0px;
}